@charset "utf-8";

$primary_color: #2f332f;
$base_color: #f9f8f7;
$point_color1: #3b574f;
$point_color2: #a9372c;
$point_color3: #c5a76a;
$white_color: #fff;
$grey_color1: #888;
$grey_color2: #666;
$grey_color3: #e0e0e0;
$grey_color4: #f9f9f9;
$grey_color5: #f1f1f1;